@gg-purple-color: #5353b3;
@font-face {
    font-family: 'ggFont';
    src: url("gg.ttf");
}

.ant-layout-sider,
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
    background: #3a3758;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #57558a;
}

.login-box {
    .ant-form-item {
        margin-bottom: 20px;
    }
    .ant-input-affix-wrapper .ant-input:not(:first-child) {
        padding-left: 45px;
    }
    .login-send-code {
        .ant-input-group-addon:last-child {
            background: #f7f7ff;
            color: @gg-purple-color;
            cursor: pointer;
        }
    }
}

.ant-menu-item {
    text-align: left;
}

.ant-card {
    margin: 10px 15px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 4px #ddd;
    border: 0;
    &-head {
        background: #f7f9fa
    }
    &-wider-padding {
        .ant-card-head {
            padding: 0 20px;
            text-align: left;
        }
    }
}

.great-tabs {
    color: #999;
    .ant-tabs-bar {
        background: #fff;
        margin: 10px 15px;
        box-shadow: 2px 2px 4px #ddd;
        border-bottom: 0;
        height: 70px;
        border-radius: 4px;
    }
    .ant-tabs-nav-container {
        line-height: 47px;
        font-size: 16px;
        margin-left: 40px;
    }
    .ant-tabs-nav-wrap {
        overflow: hidden;
        margin-bottom: -3px;
        padding-top: 3px;
    }
    .ant-tabs-ink-bar {
        height: 6px;
        border-radius: 3px;
        background-color: @gg-purple-color;
    }
    .ant-tabs-nav {
        .ant-tabs-tab {
            margin-right: 60px;
        }
        .ant-tabs-tab-active,
        .ant-tabs-tab:hover {
            color: @gg-purple-color;
            font-weight: normal;
        }
    }
}

.ant-table {
    color: rgba(0, 0, 0, .8);
    &-wrapper {
        width: 100%;
    }
    &-thead {
        >tr>th {
            background: #f7f9fa;
            text-align: center;
            padding: 10px 16px;
            font-size: 12px;
            line-height: 12px;
            border-bottom: 0;
            height: 40px;
        }
    }
    &-tbody {
        a {
            color: @gg-purple-color;
            text-decoration: underline;
        }
        >tr {
            >td {
                text-align: center;
                padding: 10px 16px;
                font-size: 12px;
                line-height: 12px;
                border-bottom: 0;
                height: 40px;
            }
        }
        >tr:nth-of-type(2n) {
            background: #f7f9fa;
        }
        .ant-tag {
            color: #fff;
            width: 32px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            border: 0;
            margin: 0;
            padding: 0;
            border-radius: 2px;
            transform: scale(.9);
            &-purple {
                background: #c1c1ff;
            }
            &-yellow {
                background: #f8bb40
            }
        }
    }
    &-pagination.ant-pagination {
        transform: scale(.8);
    }
}

.ant-btn {
    border-radius: 3px;
    padding: 0 18px;
}

.ant-btn:hover,
.ant-btn:focus {
    border-color: @gg-purple-color;
    color: @gg-purple-color;
}

.ant-btn-default {
    border-color: @gg-purple-color;
    color: @gg-purple-color;
}
