@font-face {
    font-family: 'ggFont';
    src: url("gg.ttf");
}

.ant-layout-sider,
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
    background: #3a3758;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #57558a;
}

.login-box {
    .ant-form-item {
        margin-bottom: 20px;
    }
    .ant-input-affix-wrapper .ant-input:not(:first-child) {
        padding-left: 45px;
    }
    .login-send-code {
        .ant-input-group-addon:last-child {
            background: #f7f7ff;
            color: #5353b3;
            cursor: pointer;
        }
    }
}

.ant-menu-item {
    text-align: left;
}

.ant-card {
    margin: 10px 15px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 4px #ddd;
    border: 0;
}

.ant-card-head {
    background: #f7f9fa
}

.ant-card-wider-padding .ant-card-head {
    padding: 0 20px;
    text-align: left;
}

.great-tabs {
    color: #999;
    .ant-tabs-bar {
        background: #fff;
        margin: 10px 15px;
        box-shadow: 2px 2px 4px #ddd;
        border-bottom: 0;
        height: 70px;
        border-radius: 4px;
    }
    .ant-tabs-nav-container {
        line-height: 47px;
        font-size: 16px;
        margin-left: 40px;
    }
    .ant-tabs-nav-wrap {
        overflow: hidden;
        margin-bottom: -3px;
        padding-top: 3px;
    }
    .ant-tabs-ink-bar {
        height: 6px;
        border-radius: 3px;
        background-color: #5353b3;
    }
    .ant-tabs-nav {
        .ant-tabs-tab {
            margin-right: 60px;
        }
        .ant-tabs-tab-active,
        .ant-tabs-tab:hover {
            color: #5353b3;
            font-weight: normal;
        }
    }
}
